.logo-site {
    margin-right: 20px;
    vertical-align: middle;
}

.titulo-site {
    font-size: 32px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho{
    background-color: #f7f9fd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
}