/* Estilo do container principal do banner */
.banner-container {
    position: relative; /* Posição relativa para posicionar elementos filhos relativamente a este */
    width: 100%; /* Largura de 100% do contêiner pai (responsivo) */
    max-width: 100%; /* Garante que a largura máxima seja 100% */
    height: 500px; /* Altura fixa do banner */
    overflow: hidden; /* Oculta qualquer conteúdo adicional que ultrapasse o tamanho do contêiner */
  }
  
  /* Estilo do slide individual no banner */
  .banner-slide {
    position: absolute; /* Posição absoluta para sobrepor os slides uns sobre os outros */
    top: 0; /* Alinha o slide no topo do contêiner */
    left: 0; /* Alinha o slide à esquerda do contêiner */
    width: 100%; /* Largura de 100% do contêiner pai */
    height: 100%; /* Altura de 100% do contêiner pai */
    display: flex; /* Usa o modelo de layout flexível para centralizar a imagem */
    justify-content: center; /* Centraliza horizontalmente no contêiner */
    align-items: center; /* Centraliza verticalmente no contêiner */
  }
   
  /* Estilo da navegação (retângulos) na parte inferior do banner */
  .banner-navigation {
    position: absolute; /* Posição absoluta para posicionar os retângulos abaixo do banner */
    bottom: 10px; /* Margem inferior de 10px */
    width: 100%; /* Largura de 100% do contêiner pai */
    display: flex; /* Usa o modelo de layout flexível para alinhar os retângulos */
    justify-content: center; /* Centraliza horizontalmente no contêiner */
    align-items: center; /* Centraliza verticalmente no contêiner */
  }
  
  /* Estilo dos retângulos na navegação */
  .banner-rectangle {
    width: 35px; /* Largura fixa dos retângulos */
    height: 5px; /* Altura fixa dos retângulos */
    margin: 0 5px; /* Margem entre os retângulos */
    background-color: #61ce70; /* Cor do retângulo inativo (roxo) */
    cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */
  }
  
  /* Estilo do retângulo ativo na navegação */
  .banner-rectangle.active {
    background-color:   #8A2BE2; /* Cor do retângulo ativo (verde) */
  }

   /* Estilo da imagem no slide */
   .banner-image {
    object-fit: cover; /* Ajusta a imagem para cobrir totalmente o contêiner */
    width: 100%; /* Largura de 100% do contêiner pai */
    height: 100%; /* Altura de 100% do contêiner pai */
  }

     /* Estilo do video no slide */
  .banner-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

/* Estilo do container principal do banner para telas maiores que 1920px */
@media screen and (min-width: 1800px) {
  .banner-container {
    height: 500px;
  }
}

/* Estilo do container principal do banner para telas maiores que 768px e menores que 1920px */
@media screen and (min-width: 500px) and (max-width: 1799px) {
  .banner-container {
    height: 350px;
  }
}
