* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

.cor_destaque_link {
  list-style: none;
  text-decoration: none;
  color: #c36;
}

.titulo-pagina {
  text-align: center;
  margin: 3% 0 3% 0;
  color: #000000;
  font-size: 3vh;
}

h2 {
  color: #7A7A7A;
}

h3 {
  color: #7A7A7A;
}

p {
  color: #7A7A7A;
}

@media (max-width: 320px) {

  .titulo-pagina {
    font-size: 3vh;
  }

}

@media (min-width: 321px) and (max-width: 375px) {

  .titulo-pagina {
    font-size: 3.2vh;
  }

}

@media (min-width: 376px) and (max-width: 425px) {

  .titulo-pagina {
    font-size: 3.2vh;
  }

}

@media (min-width: 426px) and (max-width: 768px) {

  .titulo-pagina {
    font-size: 3.2vh;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

  .titulo-pagina {
    font-size: 3.2vh;
  }

}

@media (min-width: 1025px) and (max-width: 1440px) {

  .titulo-pagina {
    font-size: 3.2vh;
  }

}

@media (min-width: 1441px) and (max-width: 2560px) {

  .titulo-pagina {
    font-size: 3.2vh;
  }
}