* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

.cor_destaque_link {
  list-style: none;
  text-decoration: none;
  color: #c36;
}

.titulo-pagina {
  text-align: center;
  margin: 3% 0 3% 0;
  color: #000000;
  font-size: 5vh;
}

h2 {
  color: #7A7A7A;
}

h3 {
  color: #7A7A7A;
}

p {
  color: #7A7A7A;
}

@media (max-width: 767px) {

  .titulo-pagina {
    font-size: 3.5vh;
    margin: 5vh 0;
  }

}