.menu {
    background-color: #f7f9fd;
    display: flex;
    bottom: 0;
    left: 0;
    align-items: center;
    height: 10vh;
    padding-left: 12vh;
}

.menu_lista {
    display: flex;
    list-style: none;
}

.link_menu {
    font-size: 2.5vh;
    font-weight: 600;
    color: #7e8687;
    padding: 0vh 4vh 1vh 4vh;
    text-decoration: none;
}

/* Aplicar estilo tanto no hover quanto quando a classe 'active' está presente */
.link_menu:hover,
.link_menu.active {
    color: #61ce70;
    border-bottom: 0.5vh solid;
    transition: 0.1s;
}

@media (max-width: 767px) {

    .menu {
        display: none;
    }

}