.BoxAdmNoticias {
    text-align: center;
    width: 100vw;
}
.InputsFormBox{
    max-width: 90vw;
    margin: auto;
}

.BoxAdmNoticias>h5 {
    margin: 30px;
    font-size: 30px;
    font-family: sans-serif;
}
.FormNoticias {
    display: block;
}
input{
    display: block;
    margin: auto;
}
.InputText {
    margin-top: 10px;
    border: none;
    background-color: #ECF0F1;
    height: 30px;
    padding: 5px;
    width: 80%; 
}

.InputSubtitulo {
    margin-top: 10px;
    border: none;
    background-color: #ECF0F1;
    height: 30px;
    padding: 5px;
    width: 80%; 
}

.PictureLabel {
    margin: 20px auto 20px auto;
    width: 90%;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border: 2px dashed currentColor;
    cursor: pointer;
    font-family: sans-serif;
    outline: 2px solid #fff;
}

.PictureLabel:hover {
    color: #777;
    background-color: #ccc;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.PictureLabel:active {
    background-color: #eee;
    color: #aaa;
}

.picture__input {
    display: none;
}

.PictureLabel.focus {
    outline: 2px solid black;
}

.pictureInput {
    display: none;
}
.BotaoEntrarLogin{
    margin: 20px auto 20px;
    border-radius: 20px;
    height: 50px;
    border: none;
    width: 300px;
    color: white;
    font-size: 20px;
    background-color: #58AF9C;
} 
.SpanText{
    background-color: #aaa;
    color: white;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BotaoSubmit{
    margin: 20px auto 20px;
    border-radius: 20px;
    height: 50px;
    border: none;
    width: 300px;
    color: white;
    font-size: 20px;
    background-color: #58AF9C;
    cursor: pointer;
}
.TextoBox{
    max-width: 80%;
    padding: 10px;
}
@media (min-width: 800px) {
    .InputsFormBox{
        max-width: 50vw;
    }
    .PictureLabel{
        height: 40vh;
        width: 40vw;
    }
}