.edicoes-container {
    margin: 3% 0;
}

.edicoes{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

.edicoes img {
    width: 14%;
    height: auto;
    padding: 0 10px 10px 10px;
}