.BoxUploadPdf{
    width: 90vw;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: sans-serif;
}
.Formulario{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}
.InputText{
    margin-top: 10px;
    border: none;
    background-color: #ECF0F1;
    height: 30px;
    padding: 5px;
    width: 40vw;
    margin: auto;
}
.LabelImagem{
    margin: 20px auto 20px auto;
    width: 90%;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border: 2px dashed currentColor;
    cursor: pointer;
    font-family: sans-serif;
    outline: 2px solid #fff;
}
.LabelImagem > input{
    display: none;
}
.PDF{
    margin: 20px auto 20px auto;
    width: 90%;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border: 2px dashed currentColor;
    cursor: pointer;
    font-family: sans-serif;
    outline: 2px solid #fff;
}
.PDF > input{
    display: none;
}
.BotaoSubmit{
    margin: 20px auto 20px;
    border-radius: 20px;
    height: 50px;
    border: none;
    width: 300px;
    color: white;
    font-size: 20px;
    background-color: #58AF9C;
}

@media (min-width: 800px) {
    .LabelImagem{
        height: 30vh;
        width: 30vw;
    }
    .PDF{
        height: 30vh;
        width: 30vw;
    }
    .Formulario{
        max-width: 50vw;
    }
}