.noticias-container{
    display: flex;
    margin: 0 5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.materia{
  width: 300px;
  height: 300px; 
  word-wrap: break-word;
  text-align: center;
}
.materia p{
    margin-top: 20px;
}
.materia .titulomateria{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.imgmateria{
    text-align: center;
    width: 250px;
    height: 150px; 
}

.leiamais{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 12px;
    color: rgb(86, 167, 4);
    text-decoration: none;
    font-weight: bold;
}