.conjunto_rodape {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}

.creditos_rodape{
    background-color: #f7f9fd;
    display: flex;
    left: 0;
    flex-direction: column;
    height: 20vh;
    padding: 2vh 15vh 2vh 15vh;
    justify-content: center;
}

.titulo_rodape {
    font-size: 2.5vh;
    font-weight: bolder;
    margin: 3vh 0 3vh 0;
}

.lista-rodape {
    font-size: 1.8vh;
    line-height: 2;
    color: #7A7A7A;
    list-style: none;
}

.lista-rodape a{
    padding-right: 2vh;
}

.coluna-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-privacidade a {
    font-size: 1.8vh;
}

@media (max-width: 767px) {

    .creditos_rodape {
        padding: 5vh 5vh;
    }

    .titulo_rodape {
        margin: 2vh 0;
    }   
    
    .coluna-rodape {
        flex-direction: column;
        align-items: start;
    }

    .link-privacidade{
        margin: 1vh 0 2vh 0;
    }

}