.conjunto_rodape {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.creditos_rodape{
    background-color: #f7f9fd;
    display: flex;
    left: 0;
    flex-direction: column;
    height: 200px;
    padding: 2% 0% 0% 12%;
    justify-content: center;
}

.titulo_rodape {
    font-size: 25px;
    font-weight: bolder;
    margin: 5px 0 5px 0;
}

li {
    line-height: 2;
    color: #7A7A7A;
    list-style: none;
}

li a{
    padding-right: 10px;
}